$textColor: #fff;
$main-color: aqua;


// <---Road Map Start--->
.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: relative;
    padding: 10px;
    background: transparent;
    margin-bottom: 69px;

    .icon-container {
        display: flex;
        align-items: center;
        padding: 15px;
        border: 2px solid $main-color;
        border-radius: 50%;
        color: $main-color;
        font-size: 38px;
    }

    .line {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 80px;
        width: 4px;
        height: 195%;
        background-color: $main-color;

    }
}

.row-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 0;
    margin: 0;
    padding: 0;
    position: relative;

    .row {
        // margin-top: -60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: 0;
        padding: 0;

        .degree {
            padding: 5px 0;
            margin: 0;
            background-color: transparent;
            text-align: right;
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            h1 {
                color: $main-color;
                font-size: 24px;
                font-weight: bolder;
                letter-spacing: 0.5px;
                text-align: right;
                margin: 0;
                padding: 0;
            }

            p {
                color: $textColor;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0.5px;
                margin: 0;
                padding: 0;
            }
        }

        .dot-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 2px solid $main-color;
            border-radius: 50%;
            padding: 10px;
            margin: 0 30px;

            .dot {
                width: 10px;
                height: 10px;
                background-color: $main-color;
                border: none;
                border-radius: 50%;
                margin: 0;
            }
        }

        .desc {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 18px;
            text-align: left;
            background-color: transparent;

            p {
                margin: 0;
                padding: 0;
                color: $textColor;
                font-size: 18px;
                font-weight: normal;
                background: transparent;
            }
        }

        .company{
            margin: 0;
            padding: 0;
            color: $main-color;
            letter-spacing: 0.5px;
            font-style: italic;
            font-size: 18px;
        }
    }
}

.line {
    margin-top: -99px;
    margin-bottom: -38px;
    width: 4px;
    background-color: $main-color;
    height: 224px;

}

.end-circle {
    margin-top: 30px;
    background-color: $main-color;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}