@import "../../style.scss";

$textColor: #fff;
$main-color: aqua;
$title-size: 48px;
$font-weight: 600;
$spacing: 0.5px;


.home {
    margin: 0;
    padding: 0px;

    @keyframes zoomOut {
        from {
            padding: 300px;
        }

        to {
            padding: 0;
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0.4;
            transform: translateZ(0);
            will-change: transform, opacity;

        }

        to {
            opacity: 0.6;
            transform: translateZ(80px);
            will-change: transform, opacity;
        }

        0% {
            background: url("../../images/flappybird.png") center;
            object-fit: cover;
        }
        
        25% {
            background: url("../../images/cloudify.png") center;
            object-fit: cover;
        }
        
        50% {
            background: url("../../images/blogapp.png") center;
            object-fit: cover;
        }
        
        75% {
            background: url("../../images/facebookclone.png") center;
            object-fit: cover;
        }

        100% {
            background: url("../../images/ras-admin.png") center;
            object-fit: cover;
        }
    }

    @include mobile {
        @keyframes fadeInUp {
            from {
                opacity: 0.4;
                transform: translateZ(0);
                will-change: transform, opacity;

            }

            to {
                opacity: 0.6;
                transform: translateZ(10px);
                will-change: transform, opacity;
            }

            0% {
                background: url("../../images/header-bg-1.jpg") center;
                object-fit: cover;
                background-size: 100% 100%;
            }

            25% {
                background: url("../../images/nature_green_maple_leaves_tree_branches.jpg") center;
                object-fit: cover;
                background-size: 100% 100%;
            }

            50% {
                background: url("../../images/pexels-pixabay-531880.jpg") center;
                object-fit: cover;
                background-size: 100% 100%;
            }

            75% {
                background: url("../../images/pexels-pixabay-39284.jpg") center;
                object-fit: cover;
                background-size: 100% 100%;
            }

            100% {
                background: url("../../images/header-bg-1.jpg") center;
                object-fit: cover;
                background-size: 100% 100%;
            }
        }
    }

    // <---Banner section--->
    .wrapper {
        background: transparent;
        background-color: #9bfbf0;

        .banner {
            width: 100%;
            height: 90vh;
            margin: 0;
            padding: 60px;
            display: flex;
            flex-direction: row;
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 4s ease-in-out 0s;
            box-sizing: content-box;
            filter: blur(4px);

            animation-name: fadeInUp;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-timing-function: ease-in-out;


            @include mobile {
                padding: 0;
                width: 100dvw;
                height: 40dvh;
            }
        }
    }

    // <---Greeting section--->
    .greet {
        position: absolute;
        top: 205px;
        left: 180px;

        @include mobile {
            top: 18dvh;
            left: 7dvw;
        }


        h1 {
            margin: 0;
            font-size: 130px;
            font-weight: 300;
            color: rgb(1, 72, 72);
            position: sticky;
            margin-bottom: -12px;

            @include mobile {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        span {
            font-weight: 300;
        }

        h3 {
            margin: 0 4px;
            font-size: 84px;
            font-weight: 600;
            color: rgb(2, 98, 98);

            @include mobile {
                margin: 0;
                font-size: 22px;
                font-weight: 400;
            }
        }

        p {
            margin: 0 8px;
            font-size: 25px;
            font-weight: 500;
            color: rgb(3, 39, 39);

            @include mobile {
                margin: 0;
                font-size: 22px;
                font-weight: 400;
            }
        }
    }

    // <---Content section--->
    .content {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        padding: 180px 180px 100px 180px;
        gap: 120px;

        @include mobile {
            margin-top: 6dvh;
            padding: 8px;
            gap: 48px;
            height: max-content;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 180px;


            @include mobile {
                align-items: flex-start;
                justify-content: inherit;
                gap: 8px;
            }

            .about {
                width: 45%;
                color: #fff;
                margin-top: -50px;

                @include mobile {
                    margin-top: 0;
                    width: 54%;
                }



                h1 {
                    font-size: $title-size;
                    color: $main-color;
                    text-transform: uppercase;
                    font-weight: $font-weight;
                    letter-spacing: $spacing;

                    @include mobile {
                        margin: 0;
                        font-size: 24px;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 200;
                    letter-spacing: 0.5px;
                }

                .info {
                    margin-top: 30px;

                    @include mobile {
                        margin-top: 20px;
                        margin-left: -42dvw;
                        max-width: 100dvw;
                        overflow: hidden;
                    }

                    span {
                        font-weight: 400;
                        font-size: 20px;
                        color: white;
                        text-transform: none;

                        @include mobile {
                            font-size: 14px;
                            overflow: hidden;
                            // max-width: 60dvw;
                        }
                    }

                    p {
                        color: $main-color;
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                        max-width: 60dvw;

                        @include mobile {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }

                    // span{
                    //     color: white;
                    // }

                    .link{
                        cursor: pointer;
                        color: aqua;
                    }
                    .link:hover{
                        text-decoration: underline;
                    }
                }
            }

            .img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: transparent;

                @include mobile {
                    margin-top: 45px;
                    width: 44%;
                }

                img {
                    margin: 0;
                    width: 405px;
                    height: 417px;
                    position: relative;
                    z-index: 1;

                    @include mobile {
                        margin-left: -15px;
                        width: 28dvw;
                        height: 18dvh;
                    }
                }

                .backImg {
                    width: 405px;
                    height: 417px;
                    position: absolute;
                    bottom: -600px;
                    left: 230px;
                    border: 6px solid $main-color;

                    @include mobile {
                        width: 28dvw;
                        height: 18dvh;
                        top: 56dvh;
                        left: 10dvw;
                        border: 4px solid $main-color;
                    }
                }
            }

            button {
                margin-top: 40px;
                border: none;
                background-color: $main-color;
                padding: 20px 40px;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                display: flex;
                align-items: center;

                span {
                    margin-right: 4px;

                    @include mobile {
                        margin-right: 0;
                    }
                }

                @include mobile {
                    margin-top: 36px;
                    padding: 12px 16px;
                    font-size: 16px;
                    gap: 4px;
                }
            }
        }

        .interest {
            padding: 0px 125px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            overflow: hidden;

            @include mobile {
                padding: 0px 6px;
                height: 140px;
                align-items: flex-start;
            }

            h1 {
                padding: 0px 12px;
                margin-left: -60px;
                font-size: 38px;
                color: $main-color;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: $spacing;

                @include mobile {
                    margin: 0;
                    padding: 0px;
                    margin-left: 0;
                    font-size: 26px;
                }
            }

            .icons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 80px;

                @include mobile {
                    width: 98%;
                    gap: 0;
                    justify-content: space-between;
                }

                .icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    position: relative;
                    gap: 8px;

                    @include mobile {
                        width: 18%;
                        gap: 4px;
                    }

                    .item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 80px;
                        height: 80px;
                        padding: 10px 10px;
                        border-radius: 50%;
                        border: 1px solid $main-color;
                        background-color: transparent;
                        color: $main-color;
                        font-size: 45px;
                        position: relative;

                        @include mobile {
                            width: 28px;
                            height: 28px;
                        }

                        &:hover {
                            border: 1px solid $main-color;
                            background-color: $main-color;
                            color: #fff;
                        }
                    }

                    .item:hover+.iconText {
                        color: #fff;
                    }

                    .iconText {
                        margin: 0;
                        text-align: center;
                        color: transparent;
                        font-size: 30px;
                        width: 120px;
                        height: 90px;

                        @include mobile {
                            font-size: 14px;
                            width: 100%;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }

    // <---Sevices section--->
    .services-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2a2c39;
        margin: 0;
        padding: 120px 0;

        @include mobile {
            padding: 34px 0;
        }

        h1 {
            text-transform: uppercase;
            color: $main-color;
            font-size: $title-size;
            font-weight: $font-weight;
            margin: 0;
            padding: 0;
            margin-bottom: 80px;

            @include mobile {
                margin: 24px auto;
                font-size: 24px;
                font-weight: 500;
            }
        }

        .services {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;

            @include mobile {
                flex-direction: column;
                gap: 12px;
            }

            .service {
                margin: 0;
                padding: 60px 0;
                background-color: #252734;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: left;
                color: #fff;
                text-align: left;
                width: 460px;
                position: relative;
                overflow: hidden;

                @include mobile {
                    padding: 22px 0;
                    width: 90%;
                }

                .corner-shape {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 460px;
                    height: 460px;
                    border: 1px solid rgb(65, 65, 65);
                    border-radius: 50%;
                    background: transparent;
                    position: absolute;
                    top: -340px;
                    right: -340px;
                    padding: 40px;
                    margin: 0;

                    @include mobile {
                        width: 220px;
                        height: 220px;
                        top: -154px;
                        right: -154px;
                    }

                    .inner-shape {
                        width: 380px;
                        height: 380px;
                        border: 1px solid rgb(65, 65, 65);
                        border-radius: 50%;
                        background: transparent;
                        padding: 40px;
                        margin: 0;

                        @include mobile {
                            width: 130px;
                            height: 130px;
                        }

                        .inner-most-shape {
                            width: 300px;
                            height: 300px;
                            border: 1px solid rgb(65, 65, 65);
                            border-radius: 50%;
                            background: transparent;
                            padding: 40px;
                            margin: 0;

                            @include mobile {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }

                .title {
                    background-color: $main-color;
                    margin: 0;
                    padding: 0;
                    width: 360px;
                    border: none;
                    border-top-right-radius: 60px;
                    border-bottom-right-radius: 60px;
                    z-index: 999;

                    @include mobile {
                        margin-top: 12px;
                        width: 75dvw;
                    }


                    h1 {
                        margin: 0;
                        font-size: 36px;
                        text-transform: none;
                        color: #fff;
                        padding: 10px 60px;

                        @include mobile {
                            font-size: 24px;
                        }
                    }
                }

                .details {
                    background: transparent;
                    padding: 40px 60px;

                    p {
                        font-size: 18px;

                        @include mobile {
                            font-size: 16px;
                            font-weight: 400;
                        }

                        span {
                            margin-right: 25px;
                            color: $main-color;
                        }
                    }


                }
            }
        }
    }

    // <---Experience section--->
    .experience-section {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 100px 260px;
        background-color: #22252c;

        @include mobile {
            padding: 12px;
        }

        h1 {
            text-align: center;
            padding: 10px 20px;
            font-size: $title-size;
            font-weight: $font-weight;
            color: $main-color;
            letter-spacing: $spacing;
            text-transform: uppercase;
            margin-bottom: 120px;

            @include mobile {
                font-size: 26px;
                margin: 32px auto;
                padding: 10px 0;
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            margin-bottom: 50px;

            @include mobile {
                display: none;
            }
        }

        .mini-section {
            display: none;

            @include mobile {
                margin: 0;
                padding: 12px 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 48px;
                color: #ffffff;
                font-size: 14px;
            }

            .each-section {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;

                p {
                    margin: 0;
                    padding: 0;
                }

                .name {
                    margin: 0;
                    padding: 0;
                    color: $main-color;
                    font-style: italic;
                    font-size: 16px;
                }

                .projects {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 12px;

                    .projectDetails {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                    }
                }

                .title {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 500;
                    color: $main-color;
                }

                .italicTxt {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    color: #fff;
                }
            }

        }
    }

    // <---Skills section--->
    .professional-skills {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        @include mobile {
            padding-top: 30px;
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
            color: $main-color;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 120px;
            letter-spacing: $spacing;

            @include mobile {
                margin-bottom: 40px;
                font-size: 26px;
            }

        }

        .skills {
            display: flex;
            flex-direction: row;
            background-color: #313741;
            gap: 250px;
            padding: 70px 140px;

            @include mobile {
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 60px;
            }


            .skill-row {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        }

        .sub-section {
            background-color: transparent;
            margin: 100px 0px;

            .card-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0;
                padding: 20px 0;

            @include mobile {
                flex-direction: column;
            }

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    gap: 15px;
                    background-color: #313741;
                    width: 320px;
                    height: 320px;
                    padding: 25px;
                    position: relative;

                    .clip {
                        position: absolute;
                        width: 60px;
                        height: 120px;
                        background-color: rgba(14, 232, 207, 0.5);
                        border: none;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                        top: -60px;
                        left: 160px;
                        z-index: 999;

                        @include mobile {
                            display: none;
                        }
                    }

                    h1 {
                        display: flex;
                        color: #000;
                        font-size: 38px;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }

                    h2 {
                        color: $main-color;
                        font-size: 22px;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }

                    p {
                        color: #fff;
                        font-size: 16px;
                        margin: 0;
                        padding: 0;
                        font-weight: normal;
                    }
                }

                .card-active {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    gap: 15px;
                    background-color: #05c7ae;
                    width: 340px;
                    height: 340px;
                    padding: 25px;
                    position: relative;

                    .clip-active {
                        position: absolute;
                        width: 60px;
                        height: 120px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border: none;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                        top: -60px;
                        left: 160px;
                        z-index: 1;

                        @include mobile {
                            display: none;
                        }
                    }

                    h1 {
                        display: flex;
                        color: #07463e;
                        font-size: 38px;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }

                    h2 {
                        color: #1f2229;
                        font-size: 22px;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }

                    p {
                        color: #fff;
                        font-size: 16px;
                        margin: 0;
                        padding: 0;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    // <---Education section--->
    .qaulification-section {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 100px 260px;
        background-color: #313741;

        @include mobile {
            display: none;
        }

        h1 {
            text-align: center;
            padding: 10px 20px;
            font-size: $title-size;
            font-weight: $font-weight;
            color: $main-color;
            text-transform: uppercase;
            margin-bottom: 60px;

            @include mobile {
                margin: auto;
                margin-top: 20px;
                padding: 0;
                font-size: 26px;
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            margin-bottom: 50px;

            @include mobile {
                display: none;
            }
        }
    }

    .qualification-content {
        display: none;

        @include mobile {
            margin: 0;
            padding: 18px;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 26px;
            color: white;
        }

        h1 {
            margin: 24px auto 12px auto;
            color: $main-color;
            text-transform: uppercase;
        }

        .content {
            display: none;

            @include mobile {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            h1 {
                margin: 0;
                padding: 0;
                font-size: 18px;
                color: $main-color;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 16px;
                color: $main-color;

            }
        }
    }

    //<---Work section--->
    .work-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: 40px 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        gap: 70px;


        h1 {
            color: $main-color;
            font-size: $title-size;
            text-transform: uppercase;
            font-weight: $font-weight;
            letter-spacing: $spacing;
            text-align: center;
        }

        .works {
            background: linear-gradient(rgb(7, 185, 145, 0.9), rgb(7, 185, 145, 0.9)), url("../../images/nature_green_maple_leaves_tree_branches.jpg") center;
            padding: 100px 120px 220px 120px;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 35px;

            .work {
                margin: 0;
                padding: 0;
                background-color: #fff;
                position: relative;

                img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    background-position: center;
                    border: 8px solid transparent;
                    margin: 0;
                    padding: 0;
                    margin: -8px -8px -12px -8px;

                    &:hover {
                        border: 8px solid #000;
                        opacity: 0.3;
                        transition: 0.6s;
                    }
                }

                img:hover+p {
                    color: #000;
                    transition: 0.6s;
                }

                p {
                    color: transparent;
                    font-size: 18px;
                    position: absolute;
                    top: 200px;
                    left: 22px;
                    text-transform: uppercase;
                    font-weight: 650;
                    letter-spacing: 1px;
                }
            }
        }

        button {
            padding: 18px 54px;
            margin: 50px 0px;
            background-color: transparent;
            color: #000;
            border: 2px solid #22252c;
            font-size: 14px;
            position: absolute;
            bottom: 24px;
            text-transform: uppercase;

            &:hover {
                background-color: #22252c;
                border: 2px solid #22252c;
                color: $main-color;
            }
        }
    }
}