$main-color: #0ee8cf;

.sticky{
    padding: 5px 20px;
    background-color: $main-color;
    transition: 1s;
 
    #primary {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 50px;

        .link {
            margin: 0 30px;
            text-decoration: none;


            a {
                text-decoration: none;
                padding: 5px 0px;
                font-size: 16px;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-weight: 700;
                position: relative;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(to right,
                        #000,
                        #000 50%,
                        #fff 50%);
                background-size: 200% 100%;
                background-position: -100%;
                transition: 0.4s;

                &:before {
                    content: '';
                    width: 0;
                    height: 1.5px;
                    bottom: -3px;
                    z-index: 0;
                    position: absolute;
                    background: #000;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-position: 0%;

                    &:before {
                        width: 100%;


                    }
                }
            }
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    position: fixed;
    transition: 0.6s;
    z-index: 999;

    &::-webkit-scrollbar {
        display: none;
    }

    .left {
        padding: 0px 75px;

        h1 {
            font-size: 24px;
            font-weight: 600;
            color:  #fff;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    #primary {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 50px;

        .link {
            margin: 0 30px;
            text-decoration: none;


            a {
                text-decoration: none;
                padding: 5px 0px;
                font-size: 16px;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-weight: 700;
                position: relative;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(to right,
                        $main-color,
                        $main-color 50%,
                        #fff 50%);
                background-size: 200% 100%;
                background-position: -100%;
                transition: 0.4s;

                &:before {
                    content: '';
                    width: 0;
                    height: 1.5px;
                    bottom: -3px;
                    z-index: 0;
                    position: absolute;
                    background: $main-color;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-position: 0%;

                    &:before {
                        width: 100%;


                    }
                }
            }
        }
    }
}